{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div>
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {% comment %} {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- endif -%} {% endcomment %}

    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message form-success-title" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          お問い合わせありがとうございました。担当より折り返しご連絡いたします。
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body form-error-title" role="alert" tabindex="-1" autofocus>
            {% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}

      <div class="field">
        <label class="field__label" for="inquiry_type">お問い合わせ種別</label>
        <div class="field__select">
          <select name="contact[お問い合わせ種別]" id="inquiry_type">
            <option value="">ご選択ください</option>
            <option value="ご注文について">ご注文について</option>
            <option value="商品について">商品について</option>
            <option value="ご要望・ご感想">ご要望・ご感想</option>
            <option value="法人の方">法人の方</option>
            <option value="その他">その他</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="field__label required" for="ContactForm-name">お名前</label>
        <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[名前]" value="" placeholder="" required>
      </div>
      <div class="field field--with-error">
        <label class="field__label required" for="ContactForm-email">メールアドレス
        </label>
        <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="" required>
      </div>
      <div class="field">
        <label class="field__label" for="ContactForm-phone">電話番号</label>
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[電話番号]" pattern="[0-9\-]*" value="" placeholder="">
      </div>
      <div class="field">
        <label class="form__label field__label required" for="ContactForm-body">お問い合わせ内容</label>
        <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[body]" placeholder="" required></textarea>
      </div>
      <div class="field">
        <p>
          <a href="/pages/policy/" target="_blank">プライバシーポリシー</a>について同意のうえ、「送信する」ボタンを押してください。
        </p>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          送信する
        </button>
      </div>

    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.contact-form.settings.title.default",
      "label": "t:sections.contact-form.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
