<header class="header {% if template.name == 'product' or template.name == 'cart' or template.name == 'search' or template.name == 'account' or template.name == 'addresses' or template.name == 'login' or template.name == 'order' or template.name == 'register' %}bg-img_none{% endif %}" id="js-header">
  <div class="header_inner">
    <!-- navi part -->
    <nav class="g_nav">
      <ul class="nav_link_list">
        <li class="has_dropdown">
          <p class="nav_ttl">
            <a href="{{ routes.root_url }}#sec-brand" class="js-anchor">Brand</a>
          </p>
          <div class="submenu_wrap">
            <div class="submenu big_menu">
              <div class="big_menu_inner">
                {% if linklists.menu_brand != blank %}
                  <ul>
                    {% for link in linklists.menu_brand.links %}
                      <li>
                        <a href="{{ link.url }}">
                          <figure>
                            {% assign handle = link.url | split: '/' | last %}
                            
                            {% if link.url contains '/collections/' %}
                              {% assign collection = collections[handle] %}
                              {% if collection.image %}
                                <img src="{{ collection.image | img_url: 'master' }}" alt="{{ link.title }}">
                              {% endif %}
                            {% else %}
                              {% assign page = pages[handle] %}
                              {% if page.metafields.custom._thumbnail %}
                                <img src="{{ page.metafields.custom._thumbnail | img_url: 'master' }}" alt="{{ link.title }}">
                              {% endif %}
                            {% endif %}
                          </figure>
                          <p>{{ link.title }}</p>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/pages/shoplist/">Shop List</a>
        </li>
        <li>
          <a href="/blogs/news/">Topics</a>
        </li>
        <li class="has_dropdown mini_dropdown">
          <div class="mega_menu_wrap">
            <p class="nav_ttl">Information</p>
            <div class="submenu_wrap">
              <div class="submenu mini_menu">
                <ul class="under_link_list">
                  <li><a href="/pages/guide/">ご利用ガイド</a></li>
                  <!-- <li><a href="gift.html">ギフトについて</a></li> -->
                  <li><a href="/pages/faq/">よくあるご質問</a></li>
                  <li><a href="/pages/contact-form/">お問い合わせ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="sp-gNav" id="js-nav">
      <ul class="nav_link_list">
        <li class="has_dropdown">
          <p class="nav_ttl">
            <a href="{{ routes.root_url }}#sec-brand" class="nav_item_link">
              Brand
              <span class="ja">ブランド一覧</span>
            </a>
          </p>
          <div class="big_menu">
            <div class="big_menu_inner">
              {% if linklists.menu_brand != blank %}
                <ul>
                  {% for link in linklists.menu_brand.links %}
                    <li>
                      <a href="{{ link.url }}" class="nav_item_link">
                        <figure>
                          {% assign handle = link.url | split: '/' | last %}
                          
                          {% if link.url contains '/collections/' %}
                            {% assign collection = collections[handle] %}
                            {% if collection.image %}
                              <img src="{{ collection.image | img_url: 'master' }}" alt="{{ link.title }}">
                            {% endif %}
                          {% else %}
                            {% assign page = pages[handle] %}
                            {% if page.metafields.custom._thumbnail %}
                              <img src="{{ page.metafields.custom._thumbnail | img_url: 'master' }}" alt="{{ link.title }}">
                            {% endif %}
                          {% endif %}
                        </figure>
                        <p>{{ link.title }}</p>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
        </li>
        <li>
          <a href="/pages/shoplist/" class="nav_item_link">
            Shop List
            <span class="ja">店舗一覧</span>
          </a>
        </li>
        <li>
          <a href="/blogs/news/" class="nav_item_link">
            Topics
            <span class="ja">最新情報</span>
          </a>
        </li>
        <li class="has_dropdown mini_dropdown">
          <div class="mega_menu_wrap">
            <p class="nav_ttl">
              Information
              <span class="ja">インフォメーション</span>
            </p>
            <div class="mini_menu">
              <ul>
                <li><a href="/pages/guide/" class="nav_item_link">ご利用ガイド</a></li>
                <li><a href="/pages/faq/" class="nav_item_link">よくあるご質問</a></li>
                <li><a href="/pages/contact-form/" class="nav_item_link">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <button class="toggle_button toggle_anime" id="js-hamburger">
      <span class="toggle_line"></span>
      <span class="toggle_line"></span>
    </button>
    <!-- logo part -->
    <h1 class="header_logo">
      <a href="{{ routes.root_url }}">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_ha_w.svg" alt="Hyde&Awayロゴ">
      </a>
    </h1>
    <!-- account & cart btn part -->
    <div class="header_btn_area">
      <div class="btn_wrap account_btn">
        <a href="/account/">
          <span class="icon">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_account.svg" alt="">
          </span>
          <span class="btn_name">Login</span>
        </a>
      </div>
      <div class="btn_wrap cart_btn">
        <a href="/cart/" class="header_cart-btn">
          <span class="icon" id="cart-icon-bubble">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_cart.svg" alt="">
          </span>
          <span class="btn_name">Cart</span>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- END sections: header-group -->