<!-- BEGIN sections: kv -->
<section class="sec-kv">
  <div class="container">
    <div class="image">
      <picture>
        <source media="(min-width: 600px)" srcset="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_kv.jpg">
        <source media="(max-width: 599px)" srcset="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_kv_sp.jpg">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_kv.jpg" alt="">
      </picture>
    </div>
    <div class="logo fadeIn" data-delay="400">
      <h1 class="brand_name">
        gelato SOLBELLA
      </h1>
      <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/logo_sol_w.svg" alt="gelato SOLBELLA">
    </div>
  </div>
</section>
<!-- END sections: kv -->

<!-- BEGIN sections: product -->
<section class="sec-product">
  <div class="l-inner">
    <h2 class="sec_heading">
      Line Up
    </h2>
    <div class="contents_wrapper">

      {% for product in collections.gelato-solbella.products %}
        <div class="item">
          <a href="{{ product.url }}" class="product_link">
            <div class="image">
              <img src="{{ product.featured_image.src | img_url: 'master' }}" alt="">
            </div>
            <div class="caption">
              <span class="brand">gelato SOLBELLA</span>
              <span class="product_name">{{ product.title }}</span>
              <span class="price">
                <span class="num">{{ product.price | money }}</span><span class="tax">（税込）</span>
              </span>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
    <div class="pagination_wrapper">
      <nav class="pagination" role="navigation" aria-label="ページネーション">
        <ul class="pagination__list" role="list">
          <li>
            <a role="link" class="pagination__item pagination__item--current">1</a>
          </li>
          <li>
            <a href="#" class="pagination__item link">2</a>
          </li>
          <li>
            …
          </li>
          <li>
            <a href="#" class="pagination__item link">99</a>
          </li>
          <li>
            <a href="#" class="pagination__item pagination__item--prev pagination__item-arrow">
              <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/icon_arrow_r_w.svg" alt="">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- END sections: product -->

<!-- BEGIN sections: concept -->
<div class="sec-concept">
  <div class="l-inner">
    <div class="text">
      <h2 class="copy fadeIn">
        不揃いの果実が持つ、<br>豊かな味わいをジェラートに
      </h2>
      <p class="fadeIn">
        gelato SOLBELLA は、国産フルーツを使用したジェラートブランドです。
      </p>
      <p class="fadeIn">
        Hyde＆Away でフルーツと関わっていく中で、八百屋さんや農家さんから<br class="u-pc">
        「味は変わらず美味しいのに形が不揃いであったり見た目が少し悪いだけで<br class="u-pc">
        廃棄処分されてしまうフルーツ」がたくさんあることを知りました。
      </p>
      <p class="fadeIn">
        その様なフルーツたちに新たな価値を見出し有効活用することで<br class="u-pc">
        フードロス問題に取り組んでいます。
      </p>
    </div>
  </div>
</div>
<!-- END sections: concept -->

<!-- BEGIN sections: flavors -->
<section class="sec-flavors">
  <div class="l-inner">
    <div class="container">
      <h2 class="sec_heading">
        Flavors
      </h2>
      <ul class="flavors_list">
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_choco.png" alt="">
          </div>
          <h3>
            リッチチョコレート
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_milk.png" alt="">
          </div>
          <h3>
            北海道ミルク
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_strawberry.png" alt="">
          </div>
          <h3>
            ストロベリーソルベ
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_lemon.png" alt="">
          </div>
          <h3>
            レモンソルベ
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_cookie.png" alt="">
          </div>
          <h3>
            クッキークリーム
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_matcha.png" alt="">
          </div>
          <h3>
            宇治抹茶
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_orange.png" alt="">
          </div>
          <h3>
            オレンジソルベ
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_apple.png" alt="">
          </div>
          <h3>
            アップルソルベ
          </h3>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- END sections: flavors -->

<!-- BEGIN sections: feature -->
<section class="sec-feature">
  <div class="l-inner">
    <h2 class="sec_heading">
      feature
    </h2>
    <div class="container fadeIn">
      <div class="text">
        <h3>
          国産原材料へのこだわり
        </h3>
        <p>
          私たちのジェラートは、素材選びにとことんこだわっています。<br>
          フルーツはもちろん、ミルク感たっぷりのフレーバーには北海道産の牛乳を、なめらかな食感を生む卵黄は国産のものを、香り高い抹茶フレーバーには宇治抹茶を使用。可能な限り国産原材料にこだわり、素材本来の味わいを大切に仕上げています。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_feature_img_01.jpg" alt="">
      </div>
    </div>
    <div class="container reverse fadeIn">
      <div class="text">
        <h3>
          なめらかな口当たりを追求
        </h3>
        <p>
          gelato SOLBELLA のジェラートはカップでお持ち帰りいただいてもジェラート本来の口当たりを再現できるように、瞬間冷凍機を使用し製造方法にもこだわっております。<br>
          ひとつひとつ手作りし、専用のスリーブで包み込んでお届けするジェラートで特別な時間をお楽しみください。
        </p>
      </div>
      <div class="image">
        <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_feature_img_02.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- END sections: feature -->

<!-- BEGIN parts: parasol -->
<div class="parasol js-parallax">
  <picture>
    <source media="(min-width: 600px)" srcset="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_parasol.jpg">
    <source media="(max-width: 599px)" srcset="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_parasol_sp.jpg">
    <img src="https://cdn.shopify.com/s/files/1/0749/1823/2300/files/sol_parasol.jpg" alt="">
  </picture>
</div>
<!-- END parts: parasol -->

{% section 'other-brands_bp02' %}

<!-- BEGIN sections: breadcrumbs -->
<div class="breadcrumbs">
  <ol>
    <li>
      <a href="{{ routes.root_url }}">
        <span>home</span>
      </a>
    </li>
    <li>
      <span>gelato SOLBELLA</span>
    </li>
  </ol>
</div>
<!-- END sections: breadcrumbs -->